<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!--<h4 class="modal-title">Modal Header</h4>-->
        <!--<div class="btn-group">-->
          <!--<div class="btn btn-primary btn-lg">BUY</div>-->
          <!--<div class="btn btn-primary btn-lg">SELL</div>-->
        <!--</div>-->
        <h1>{{investment.symbol1}}/{{investment.symbol2}}</h1>
        <p>{{coinValue.last | currency}}</p>
      </div>

      <!--Modal Body-->
      <div class="modal-body">

        <!--Form begins here-->
        <form class="form-group" [formGroup]="tradeForm" (ngSubmit)="onSubmit()" novalidate>

          <!--Type of trade radio -->
          <div class="form-group radio">
            <h5><strong>Type of trade:</strong></h5>
            <label><input type="radio" formControlName="type" value="BUY">BUY</label>
            <label><input type="radio" formControlName="type" value="SELL">SELL</label>
          </div>

          <!--Units text input-->
          <div class="form-group">
            <label class="center-block">Units:
              <input class="form-control" formControlName="units" placeholder="Enter quantity">
            </label>
          </div>
          <div *ngIf="tradeForm.controls['units'].errors && !tradeForm.controls['units'].pristine"
               class="alert alert-danger">
            <div [hidden]="!tradeForm.controls['units'].errors.required">Units field is required!</div>
            <div [hidden]="!tradeForm.controls['units'].errors.pattern">Units must be a number!</div>
          </div>

          <!--Trade price text input-->
          <div class="form-group">
            <label class="center-block">Trade price:
              <input class="form-control" formControlName="price" placeholder="Enter price">
            </label>
          </div>
          <div *ngIf="tradeForm.controls['price'].errors && !tradeForm.controls['price'].pristine"
               class="alert alert-danger">
            <div [hidden]="!tradeForm.controls['price'].errors.required">Trade price field is required!</div>
            <div [hidden]="!tradeForm.controls['price'].errors.pattern">Trade price must be a number!</div>
          </div>

          <!--Date text input of type DD.MM.YYYY-->
          <div class="form-group">
            <label class="center-block">Date:
              <input class="form-control" formControlName="date" placeholder="DD.MM.YYYY">
            </label>
          </div>
          <div *ngIf="tradeForm.controls['date'].errors && !tradeForm.controls['date'].pristine"
               class="alert alert-danger">
            <div [hidden]="!tradeForm.controls['date'].errors.required">Date field required!</div>
            <div [hidden]="!tradeForm.controls['date'].errors.pattern">Date is invalid!</div>
          </div>

          <!--Submit button-->
          <button type="submit"
                  [disabled]="tradeForm.pristine || tradeForm.invalid" class="btn btn-success">Save</button> &nbsp;
        </form>

        <!--Temporary testing area-->
        <p>Form value: {{ tradeForm.value | json }}</p>
        <p>Form status: {{ tradeForm.status | json }}</p>
      </div>

    </div>

  </div>
</div>
